<!DOCTYPE html>
<html>
    <head>
        <title> Guestbook on GOLANG</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <h1>Как бы то ни было, добрая половина выводов сделала своё дело</h1>
        <p>Каждый из нас понимает очевидную вещь: существующая теория предопределяет высокую востребованность позиций, 
            занимаемых участниками в отношении поставленных задач. 
            Как принято считать, элементы политического процесса представлены в исключительно положительном свете. 
            Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта:
             курс на социально-ориентированный национальный проект способствует повышению качества переосмысления внешнеэкономических политик!
              Господа, убеждённость некоторых оппонентов выявляет срочную потребность анализа существующих паттернов поведения.
               Кстати, ключевые особенности структуры проекта и по сей день остаются уделом либералов,
                которые жаждут быть объективно рассмотрены соответствующими инстанциями.</p>
        <a href="https://go.dev"> Ссылка на GO</a>
        <img src="/templates/images/suslik.jpg" alt="суслик-маскот"> 
        <div> Блочный элемент </div>
        <span>Строчный элемент</span>
        <ul>
            <li>
                Я элемент списка
            </li>
        </ul>

    </body>
</html>